/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

/* response div */
.response
{
    margin-top: 20px;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    font-size: 36px;
    color: #353535;
    cursor: pointer;
    outline: none;
}

/* map */
#map { 
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    margin-top: 66px;
}

#edit-panel {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(33.33% - 20px);
    min-width: none;
    height: 100%;
    padding: 20px;
    background-color: #fff;
    z-index: 1000;
    box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.3);
    display: none;
}
  
#edit-panel.show {
    display: block;
}

#remove-point-btn {
    margin-top: 20px;
}


.btn-custom {
    padding: 0.10rem 0.2rem;
    font-size: 0.75rem;
}

.input-list {
    margin-left: 40px;
    margin-right: 10px;
}

.textarea-list {
    margin-right: 10px;
}

#response-popup-container {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
    z-index: 9999;
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
}
  
.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}
  
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}