/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

/* response div */
.response
{
    margin-top: 20px;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    font-size: 36px;
    color: #353535;
    cursor: pointer;
    outline: none;
}

/* map */
#map { 
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    margin-top: 66px;
}

#edit-panel {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(33.33% - 20px);
    height: 100%;
    padding: 20px;
    background-color: #fff;
    z-index: 1000;
    box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.3);
    display: none;
}
  
#edit-panel.show {
    display: block;
}

#remove-point-btn {
    margin-top: 20px;
}