{% extends "layout.html" %}

{% block title %}List{% endblock %}

{% block body %}
    <script src="/static/js/list.js"></script>
    <div>
        <h3>Point ID: <b>{{ versions[0]["id"] }}</b></h3>
    </div>
    <table id="history-table" class="table table-striped">
        <thead>
            <tr>
                <th scpe="col">Version</th>
                <th scpe="col">Name</th>
                <th scope="col">Attributes</th>
                <th scope="col">Completion</th>
                <th scpe="col">Version created on</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in versions %}
            <!-- row schema: id, name, attributes, is_completed -->
                <tr class="point-row">
                    <th>
                        <div>
                            {{ entry["version"] }}
                            {% if entry["is_latest"] %}
                                <br><b>(Current version)</b>
                            {% endif %}
                        </div>
                    </th>
                    <th>
                        <div>
                            {{ entry["name"] }}
                        </div>
                    </th>
                    {% set attributes = entry["attributes"] %}
                    <td>
                        <div>
                            {% for key in attributes %}
                                <div style="text-align: center;">
                                    {{ key }} = {{ attributes[key] }}
                                </div>
                            {% endfor %}
                        </div>
                    </td>
                    <td>
                        <div style="text-align: center;">
                            {% if entry["is_completed"] %}
                                Completed
                            {% else %}
                                Incomplete
                            {% endif %}
                        </div>
                    </td>
                    <td>
                        <div style="text-align: center;">
                            {{ entry["version_created"] }} 
                        </div>            
                    </td>
                </tr> 
            {% endfor %}
        </tbody>
    </table>
{% endblock %}