{% extends "layout.html" %}

{% block title %}List{% endblock %}

{% block body %}
<script src="/static/js/list.js"></script>

<table id="points-table" class="table table-striped">
    <thead>
        <tr>
            <th scope="col">
                <form id="sortById" action="/pointList" method="get">
                    <div class="table-header-container">
                        ID
                        <div class="sort-icons">
                            <button type="button" class="sort-button" onclick="handleSortClick('sortById', 'ASC')">
                                <i class="fa fa-chevron-up" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="sort-button" onclick="handleSortClick('sortById', 'DESC')">
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                    <input type="hidden" name="sort_by" value="id">
                    <input type="hidden" name="sort_order">
                </form>
            </th>
            <th scope="col">
                <form id="sortByName" action="/pointList" method="get">
                    <div class="table-header-container">
                        Name
                        <div class="sort-icons">
                            <button type="button" class="sort-button" onclick="handleSortClick('sortByName', 'ASC')">
                                <i class="fa fa-chevron-up" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="sort-button" onclick="handleSortClick('sortByName', 'DESC')">
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                    <input type="hidden" name="sort_by" value="name">
                    <input type="hidden" name="sort_order">
                </form>
            </th>
            <th scope="col">Attributes</th>
            <th scope="col">
                <form id="sortByCompletion" action="/pointList" method="get">
                    <div class="table-header-container">
                        Completion
                        <div class="sort-icons">
                            <button type="button" class="sort-button" onclick="handleSortClick('sortByCompletion', 'ASC')">
                                <i class="fa fa-chevron-up" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="sort-button" onclick="handleSortClick('sortByCompletion', 'DESC')">
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                    <input type="hidden" name="sort_by" value="is_completed">
                    <input type="hidden" name="sort_order">
                </form>
            </th>
        </tr>
    </thead>
    <tbody>
        <!-- row schema: id, name, attributes, is_completed -->
        {% for row in pointsData %}
        <tr class="point-row" data-element-id="{{ row[0] }}" data-completed="{{ row[3] }}">
            <td scope="row" class="list-point-id">#{{ row[0] }}</td>
            <th>
                <div>
                    <b>Name: </b>
                    <input size="20" type="text" placeholder="Key" value="{{ row[1] }}" class="input-point-name">
                </div>
            </th>
            {% set attributes = row[2] %}
            <td>
                <div class="point-attr-row">
                    <div class="list-point-attrs">
                        {% for key in attributes %}
                        <div class="list-point-attr">
                            <input size="20" type="text" placeholder="Key" value="{{ key }}" class="input-list">
                            <textarea rows="1" cols="25" class="textarea-list"
                                placeholder="Value">{{ attributes[key] }}</textarea>
                            <button type="button" class="btn btn-outline-danger btn-sm remove-row">Remove row</button>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="row-button-group">
                        <button type="button" class="btn btn-outline-primary btn-sm add-row"
                            style="margin-right: 10px;">Add row</button>
                        <button type="button" class="btn btn-danger btn-sm remove-point" data-target-id="{{ row[0] }}"
                            style="margin-right: 10px;">Remove point</button>
                    </div>
                </div>
            </td>
            <td class="checkbox-cell">
                <div class="form-check form-switch" style="padding-bottom: 5px;">
                    {% if row[3] %}
                    <input class="form-check-input list-checkbox" type="checkbox" checked>
                    {% else %}
                    <input class="form-check-input list-checkbox" type="checkbox">
                    {% endif %}
                    <label class="form-check-label">Completed</label>
                </div>
                <div>
                    <form id="historyForm" action="/getHistory" method="get" target="_blank">
                        <button id="list-history-btn" class="btn btn-outline-info" type="button"
                            onclick="getHistory({{ row[0] }})">History</button>
                        <input type="hidden" id="history_input" name="id">
                    </form>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div id="scroll-to-bottom" class="scroll-to-bottom"></div>
<div>
    <button type="button" class="btn btn-success" onclick="handleSortClick('sortById', 'ASC')">Save attributes edits</button>
    <button type="button" class="btn btn-warning" onclick="discardListEdits()">Discard attributes edits</button>
    <button type="button" class="btn btn-outline-info" onclick="exportData()">Export to GeoJSON</button>
</div>
<div class="mb-3" style="margin-top: 30px;">
    <input class="form-control" type="file" id="fileImport" multiple>
    <button type="button" class="btn btn-outline-info" onclick="importData()">Import from GeoJSON</button>
</div>
<div style="margin-top: 30px;">
    <button type="button" class="btn btn-danger" onclick="removeAllPoints()">Remove all points</button>
</div>
{% endblock %}