{% extends "layout.html" %}

{% block title %}List{% endblock %}

{% block body %}
    <script src="/static/js/list.js"></script>
    <table id="points-table" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col" style="padding-left: 50px;">Attributes</th>
            </tr>
        </thead>
        <tbody>
            {% for row in pointsData %}
                <tr class="point-row" data-element-id="{{ row[0] }}">
                    <th scope="row" class="list-point-id">#{{ row[0] }}</th>
                    {% set attributes = row[1] %}
                    <td>
                        <div class="point-attr-row">
                            <div class="list-point-attrs">
                                {% for key in attributes %}
                                    <div class="d-flex align-items-center list-point-attr" style="margin-bottom: 5px;">
                                        <input size="20" type="text" placeholder="Key" value="{{ key }}" class="input-list">
                                        <textarea rows="1" cols="25" class="textarea-list" placeholder="Value">{{ attributes[key] }}</textarea>
                                        <button type="button" class="btn btn-outline-danger btn-sm remove-row">Remove row</button>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="d-flex align-items-center" style="margin-bottom: 15px; margin-left: 40px;">
                                <button type="button" class="btn btn-outline-primary btn-sm add-row" style="margin-right: 10px;">Add row</button>
                                <button type="button" class="btn btn-outline-danger btn-sm remove-point" data-target-id="{{ row[0] }}" style="margin-right: 10px;">Remove point</button>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="button" class="btn btn-success" onclick="saveListEdits()">Save Edits</button>
    <button type="button" class="btn btn-warning">Discard your edits</button>
    <div style="margin-top: 30px;">
        <button type="button" class="btn btn-danger">Remove all points</button>
    </div>
{% endblock %}