{% extends "layout.html" %}

{% block title %}Map{% endblock %}
{% block leaflet %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
     integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
     crossorigin=""></script>
{% endblock %}

{% block body %}
    <div id="map"></div>
    <div id="edit-panel" style="display:none"></div>
    <script src="/static/js/getPoints.js"></script>
{% endblock %}