{% extends "layout.html" %}

{% block title %}Map{% endblock %}
{% block leaflet %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
     integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
     crossorigin=""></script>
{% endblock %}

{% block body %}
    <div id="map"></div>
    <script src="/static/js/editing.js"></script>
    <div id="edit-panel">
        <h3>Edit attributes</h3>
        <button id="close-btn" class="close-btn" onclick="closePanel()">X</button>
        <table id="attributes-table" class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Key</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <button id="new-key-btn" class="btn btn-primary" onclick="addRow()">Add new row</button>
        <button id="save-edits-btn" class="btn btn-success" onclick="saveTable()">Save edits</button>
        <div>
            <button id="remove-point-btn" class="btn btn-danger" onclick="removePoint()">Remove point</button>
        </div>
        
    </div>
 
{% endblock %}