{% extends "layout.html" %}

{% block title %}Map{% endblock %}
{% block leaflet %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
     integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
     crossorigin=""></script>
{% endblock %}

{% block body %}
    <div id="map"></div>
    <script src="/static/js/getPoints.js"></script>
    <script src="/static//js/attrEditing.js"></script>
    <div id="edit-panel">
        <h3>Edit attributes</h3>
        <button id="close-btn" class="close-btn" onclick="closePanel()">X</button>
        <table id="attributes-table">
            <thead>
                <th>Key</th>
                <th>Value</th>
            </thead>
            <tbody>
            </tbody>
        </table>
        <button id="new-key-btn">Add new key</button>
        <button id="save-edits-btn">Save edits</button>
        <button id="remove-point-btn">Remove point</button>
    </div>
 
{% endblock %}